In [13]:
import numpy as np
import pandas as pd
import sqlalchemy

!pip install pymysql

student_conn_string = "mysql+pymysql://student:p7%40vw7MCatmnKjy7@data.engeto.com/data"
engeto_data_conn = sqlalchemy.create_engine(student_conn_string)

Requirement already satisfied: pymysql in c:\users\kareln\anaconda3\lib\site-packages (1.0.2)

In [14]:
e_bikes_df = pd.read_sql("select * from edinburgh_bikes", engeto_data_conn)
e_weather_df = pd.read_sql("select * from edinburgh_weather", engeto_data_conn)

In [15]:
original_columns_order = e_bikes_df.columns.to_list()

In [16]:
e_bikes_df.drop('import pandas as pd', axis=1, inplace=True)
e_bikes_df.drop([340986,340987,340988,340989,340990,340991,340992,340993], inplace=True)

One of the main problems consists in several names for one place. So I decided to arrange the final number of stations according to latitude. I made it a round 4 decimal places because 1 degree latitude in Edinburgh amount to 62 km: cos (55°57′) ∙ 6 378 km = 3 571.1 km * 2 * π = 22 438.2 km and 
22 438.2 km / 360 = 62.3 km => 4 decimal places latitude = 6,2 m (could be considered as sufficient definition)

In [17]:
A = e_bikes_df.start_station_latitude.round(4).unique() 
B = e_bikes_df.end_station_latitude.round(4).unique()
np.setxor1d(A,B)

array([53.3955, 55.9502])

There were 6 records (3 station_id: 242 (Virtual Depot), 280 (Smarter Travel Station) and 1857 (City Chambers Launch Station)) without any sense on these latitude values. I dropped them because they amounted to 0.02 per mille of all records as well as 11 records (station_id 241 (Depot) and station_id 299 (Depot Virtual) = 0.03 per mille of all records) which were found out later during data checking.

In [18]:
e_bikes_df = e_bikes_df.drop((e_bikes_df[(e_bikes_df['end_station_id'].isin([241, 242, 280, 299])) | (e_bikes_df['start_station_id'].isin([241, 299, 1857]))]).index, axis = 0)
e_bikes_df.shape

(340969, 14)